// TYPOGRAPHY //

$fontBody: 'Roboto', sans-serif;
$fontTitle: 'Quicksand', sans-serif;

// DEVICES //

$tablet: 768px;
$pc: 1200px;

// COLORS //

$colorMain: #59c4ca;
$colorSecondary: #ce3635;