// TYPOGRAPHY //

$fontBody: 'Roboto', sans-serif;
$fontTitle: 'Quicksand', sans-serif;

// DEVICES //

$tablet: 768px;
$pc: 1200px;

// COLORS //

$colorHeader: #59c4ca;
$colorProjects: #32e0ea;
$colorAbout: #ce3635;
$colorCv: #4F9B5A;
$colorContact: #adabab;

// $colorBright: #f2f1c6;
$colorBright: #f2f1c6;