@import "utils/variables";
@import "utils/mixins";

* {
  margin: 0px;
  text-decoration: none;
  list-style: none;
  font-family: $fontBody;
  padding-inline-start: 0;
  box-sizing: border-box;
}

body {
  color: $colorBody;
  font-size: 12px;

  @include forTablet {
    font-size: 14px;
  }

  @include forPc {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontTitle;
}

a {
  color: inherit;
}

.section__header {
  min-height: 10vh;
  width: 100%;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--title {
    text-transform: uppercase;
    display: inline-block;
    color: $colorContact;
  }
}
