@import "utils/mixins";

.Menu {
  position: relative;

  &__language {
    z-index: 9;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 30px;
    background-color: white;
    border: 1px solid whitesmoke;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &--button {
      height: 100%;
      width: 50%;
      background-color: transparent;
      border-radius: 25px;
      border: 2px solid white;
      padding: 0;
      outline: none;
      cursor: pointer;
    }
    
    .is-active{
      background-color: $colorHeader;
      color: white;
    }
  }

  &__hamburguer {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;

    .hamburger {
      padding: 30px 20px 0px 10px;
      cursor: pointer;
      transition: opacity 0.15s linear;
      background-color: transparent;
      border: none;
      outline: none;

      &:hover {
        opacity: 0.6;
      }

      @include forTablet {
        padding: 40px 30px 0px 20px;
      }

      &.is-active {
        position: fixed;
        right: 0;
        &:hover {
          opacity: 0.7;
        }
      }

      &-box {
        width: 30px;
        height: 30px;
        position: relative;

        @include forTablet {
          width: 40px;
          height: 40px;
        }
      }

      &-inner,
      &-inner:after,
      &-inner:before {
        position: absolute;
        height: 3px;
        transition: transform ease 0.15s;
        background-color: white;
        width: 100%;
      }

      &-inner {
        transition: cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.2s;

        &:before,
        &:after {
          width: 50%;
          display: block;
          content: "";
        }

        &:before {
          top: -8px;
          transition: top 0.2s ease 0.25s, opacity 0.2s ease,
            width 0ms ease 0.25s;

          @include forTablet {
            top: -10px;
          }
        }

        &:after {
          bottom: -8px;
          right: 0;
          transition: bottom 0.2s ease 0.25s,
            transform 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19),
            width 0s ease 0.25s;

          @include forTablet {
            bottom: -10px;
          }
        }
      }

      &.is-active .hamburger-inner {
        transition-delay: 0.25s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: rotate(45deg);

        &:before,
        &:after {
          width: 100%;
        }

        &:before {
          top: 0;
          transition: top 0.2s ease, opacity 0.2s ease 0.25s,
            width 0s ease 0.25s;
          opacity: 0;
        }

        &:after {
          bottom: 0;
          transition: bottom 0.2s ease,
            transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s,
            width 0s ease 0.25s;
          transform: rotate(-90deg);
        }
      }
    }
  }
  
  &__links {
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity ease-in-out 0.3s, visibility ease-in-out 0.3s;

    &.is-active {
      visibility: inherit;
      opacity: 1;
      transition-delay: 0.25s;
      transition: opacity ease-in-out 0.3s;
    }

    li {
      color: white;
      font-size: 25px;
      text-transform: uppercase;

      &:hover {
        font-weight: 600;
      }

      @include forTablet {
        padding-left: 20%;
        font-size: 40px;
      }
    }

    &--projects:hover {
      color: $colorProjects;
    }

    &--about:hover {
      color: $colorAbout;
    }

    &--cv:hover {
      color: $colorCv;
    }

    &--contact:hover {
      color: $colorContact;
    }
  }
}