@import "utils/variables";
@import "utils/mixins";

.Projects {
  border-left: 3px solid $colorProjects;
  &__header {
    display: flex;
    justify-content: center;
    .fa-filter {
      color: $colorContact;
      font-size: 14px;
      padding: 5px;
      cursor: pointer;
    }

    &--filter {
      display: none;

      &.showFilters {
        display: inherit;
      }

      li {
        display: inline-block;
        margin: 0 5px;
        font-size: 14px;
        cursor: pointer;

        &.is-active {
          border-bottom: 2px solid $colorProjects;
        }

        @include forTablet {
          font-size: 16px;
          margin: 10px;
        }
      }

      #react {
        text-transform: capitalize;
      }
    }
  }
  &__grid {
    @include forTablet {
      display: flex;
      flex-wrap: wrap;
    }

    .SingleProject {
      // border: 1px solid #fcfcfc;
      max-height: 100vh;
      max-width: 100vw;
      position: relative;
      overflow: hidden;
      transition: ease-in-out 0.6s;
      cursor: pointer;

      @include forTablet {
        border: 1px solid #fcfcfc;
        flex: 50%;
        max-height: 50vw;
        max-width: 50vw;
      }

      @include forPc {
        flex: 25%;
        max-height: 25vw;
        max-width: 25vw;

        &:hover {
          .SingleProject {
            &__image {
              visibility: hidden;
              opacity: 0;
              transition: visibility 0.5, opacity 0.5;
            }
            &__info * {
              visibility: visible;
              z-index: 1;
            }
          }
        }
      }

      &__image {
        transition: ease-in-out 0.5s;
        object-fit: cover;
        height: 100%;
        width: 100%;
        position: relative;
        transition: visibility ease-in-out 0.5, ease-in-out opacity 0.5;
      }

      &__info {
        font-size: 12px;
        height: 30%;
        width: 100%;
        position: absolute;
        bottom: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;
        text-align: center;
        transition: visibility ease-in-out 0.5;
        padding: 5px;
        border-top: 3px solid white;
        border-bottom: 3px solid white;

        * {
          margin: 2px;
        }

        @include forPc {
          font-size: 16px;
          height: 100%;
          visibility: hidden;
          color: white;
          .SingleProject {
            &__title {
              display: block;
              font-size: 24px;
            }

            &__subtitle {
              font-size: 16px;
              color: $colorBody;
            }

            &__description {
              display: block;
            }

            &__tags {
              position: absolute;
              bottom: 10px;
              right: 10px;

              i {
                margin: 5px;
                font-size: 25px;

                &:hover {
                  opacity: 0.6;
                }
              }
            }
          }

          .fa-sort-down {
            display: none;
          }
        }

        h2,
        h3 {
          text-transform: uppercase;
        }

        .fa-sort-down {
          font-size: 43px;
          color: white;
          position: absolute;
          top: -27px;
        }
      }

      &__title {
        display: none;
        font-size: 18px;
        text-transform: uppercase;
      }

      &__description {
        display: none;
      }

      &__links {
        a {
          margin: 20px;
          text-transform: uppercase;
          color: $colorProjects;
          &:hover {
            border-bottom: 2px solid whitesmoke;
            font-weight: 600;
          }
        }
      }

      &__tags {
        i {
          margin: 2px;
          font-size: 18px;
          color: whitesmoke;
        }
      }
    }
  }
}
