@import "utils/variables";
@import "utils/mixins";

.Quote {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;

  &__row {
    flex-direction: row;
  }

  &__column {
    flex-direction: column;
  }

  img {
    height: 50px;
  }

  h3 {
    font-size: 40px;
    text-transform: uppercase;
  }

  &__love {
    h3 {
      color: red;
    }
  }

  &__cv {
    border-left: 3px solid $colorCv;
    * {
      color: white;
      margin: 20px 0;
    }
  }
}

.cv {
  border: 1px solid white;
  padding: 10px;
  border-radius: 25px;
  &:hover {
    color: $colorCv;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    // opacity: 0.7;
    font-weight: 600;
  }
}