@import "utils/variables";
@import "utils/mixins";

.Quote {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
  }

  &__love-coding {
    .icon {
      background: url("https://media.giphy.com/media/LpDmM2wSt6Hm5fKJVa/giphy.gif") center no-repeat;
      background-size: cover;
      height: 50px;
      width: 50px;
    }
  }

  &__CV {
    border-left: 3px solid $colorCv;
    .cv-download {
      color: white;
      border: 1px solid white;
      padding: 10px;
      border-radius: 25px;
      margin-top: 20px;
      transition: all ease-in-out 0.2s;

      &:hover {
        color: $colorCv;
        background-color: rgba(255, 255, 255, 0.9);
      }

      @include forTablet{
        margin-top: 40px;
      }
    }
  }
}
